body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.controls select,
.controls input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 10px 18px;
  background: #28a745;   /* green */
  color: white;          /* white text */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.search-btn:hover {
  background: #218838;   /* darker green */
}


.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.book {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.book img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.book h3 {
  font-size: 16px;
  margin: 5px 0;
}

.book p {
  margin: 2px 0;
}
.book .rating {
  color: #f39c12;
  font-weight: bold;
}
